<app-breadcrumb [title]="'Add Post'" [items]="['Apps', 'Blog']" [active_item]="'Add Post'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Post Edit</h5>
        </div>
        <div class="card-body add-post">
          <form class="row needs-validation">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="validationCustom01">Title:</label>
                <input class="form-control" id="validationCustom01" type="text" placeholder="Post Title" required="">
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="form-group">
                <label>Type:</label>
                <div class="m-checkbox-inline">
                  <label for="edo-ani">
                    <input class="radio_animated" id="edo-ani" type="radio" name="rdo-ani" checked="">Text
                  </label>
                  <label for="edo-ani1">
                    <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani">Image
                  </label>
                  <label for="edo-ani2">
                    <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani" checked="">Audio
                  </label>
                  <label for="edo-ani3">
                    <input class="radio_animated" id="edo-ani3" type="radio" name="rdo-ani">Video
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-form-label">Category:
                  <ng-select class="mt-2" 
                    [items]="category" 
                    bindLabel="name" 
                    bindValue="id"
                    [(ngModel)]="selectedCategory"
                    [multiple]="true"
                    [ngModelOptions]="{standalone: true}">
                  </ng-select>
                </div>
              </div>
              <div class="email-wrapper">
                <div class="theme-form">
                  <div class="form-group">
                    <label>Content:</label>
                    <ckeditor [editor]="ClassicEditor" data="<p>Hello, world!</p>"></ckeditor>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="dropzone dropzone-primary"
              (init)="onUploadInit($event)"
              (error)="onUploadError($event)"
              (success)="onUploadSuccess($event)"
              [dropzone]="config">
            <div class="dz-message needsclick">
              <i class="icon-cloud-up"></i>
              <h6>Drop files here or click to upload.</h6><span>(This is just a demo dropzone. Selected files are
                <strong>not</strong> actually uploaded.)</span>
            </div>
          </div>
          <div class="btn-showcase">
            <button class="btn btn-primary" type="submit">Post</button>
            <input class="btn btn-light" type="reset" value="Discard">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>