<ng-template #addBookmark let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Bookmark</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""
      (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="bm-weburl">Web Url</label>
          <input class="form-control" id="bm-weburl" type="text" required="" autocomplete="off">
        </div>
        <div class="form-group col-md-12">
          <label for="bm-title">Title</label>
          <input class="form-control" id="bm-title" type="text" required="" autocomplete="off">
        </div>
        <div class="form-group col-md-12">
          <label>Description</label>
          <textarea class="form-control" id="bm-desc" required="" autocomplete="off"></textarea>
        </div>
        <div class="form-group col-md-6 mb-0">
          <label>Group</label>
          <select class="js-example-basic-single" id="bm-group">
            <option value="bookmark">My Bookmarks</option>
          </select>
        </div>
        <div class="form-group col-md-6 mb-0">
          <label>Collection</label>
          <select class="js-example-disabled-results" id="bm-collection">
            <option value="general">General</option>
            <option value="fs">fs</option>
          </select>
        </div>
      </div>
      <input id="index_var" type="hidden" value="6">
      <button class="btn btn-secondary mr-1" id="Bookmark" type="submit">Save</button>
      <button class="btn btn-primary mr-1" type="button" data-dismiss="modal">Cancel</button>
    </form>
  </div>
</ng-template>