<app-breadcrumb [title]="'Leaflet Map'" [items]="['Apps', 'Map']" [active_item]="'Leaflet Map'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row leaflet-custom">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Simple Map</h5>
        </div>
        <div class="card-body">
          <div class="map-height" leaflet [leafletOptions]="options1">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Map with specify layer</h5>
        </div>
        <div class="card-body">
          <div class="map-height" leaflet [leafletOptions]="options2" [leafletLayersControl]="layersControl">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Map with polygon</h5>
        </div>
        <div class="card-body">
          <div class="map-height" leaflet [leafletOptions]="options3" (leafletMapReady)="onMapReady($event)"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Map with Marker</h5>
        </div>
        <div class="card-body">
          <div class="map-height" leaflet [leafletOptions]="options4" (leafletMapReady)="onMapReady4($event)"></div>
        </div>
      </div>
    </div>
  </div>
</div>