<app-breadcrumb [title]="'Flat'" [items]="['Buttons']" [active_item]="'Flat'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card" id="default">
        <div class="card-header">
          <h5>Default buttons</h5>
          <span>Add <code>.btn-square</code> class for flat button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-square btn-primary" type="button" placement="top"
            ngbTooltip="btn btn-square btn-primary">Primary Button</button>
          <button class="btn btn-square btn-secondary" type="button" placement="top"
            ngbTooltip="btn btn-square btn-secondary">Secondary Button</button>
          <button class="btn btn-square btn-success" type="button" placement="top"
            ngbTooltip="btn btn-square btn-success">Success Button</button>
          <button class="btn btn-square btn-info" type="button" placement="top"
            ngbTooltip="btn btn-square btn-info">Info Button</button>
          <button class="btn btn-square btn-warning" type="button" placement="top"
            ngbTooltip="btn btn-square btn-warning">Warning Button</button>
          <button class="btn btn-square btn-danger" type="button" placement="top"
            ngbTooltip="btn btn-square btn-danger">Danger Button</button>
          <button class="btn btn-square btn-light" type="button" placement="top"
            ngbTooltip="btn btn-square btn-light">Light Button</button>
        </div>
      </div>
      <div class="card" id="large-btn">
        <div class="card-header">
          <h5>Large buttons</h5>
          <span>Add <code>.btn-square</code> and <code>.btn-lg</code> class for large button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-primary btn-square">Primary Button</button>
          <button class="btn btn-secondary btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-secondary btn-square">Secondary Button</button>
          <button class="btn btn-success btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-success btn-square">Success Button</button>
          <button class="btn btn-info btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-info btn-square">Info Button</button>
          <button class="btn btn-warning btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-warning btn-square">Warning Button</button>
          <button class="btn btn-danger btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-danger btn-square">Danger Button</button>
          <button class="btn btn-light btn-lg btn-square" type="button" placement="top"
            ngbTooltip="btn btn-light btn-square">Light Button</button>
        </div>
      </div>
      <div class="card" id="small-btn">
        <div class="card-header">
          <h5>Small buttons</h5>
          <span>Add <code>.btn-square</code> and <code>.btn-sm</code> class for small button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-primary btn-square">Primary Button</button>
          <button class="btn btn-secondary btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-secondary btn-square">Secondary Button</button>
          <button class="btn btn-success btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-success btn-square">Success Button</button>
          <button class="btn btn-info btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-info btn-square">Info Button</button>
          <button class="btn btn-warning btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-warning btn-square">Warning Button</button>
          <button class="btn btn-danger btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-danger btn-square">Danger Button</button>
          <button class="btn btn-light btn-sm btn-square" type="button" placement="top"
            ngbTooltip="btn btn-light btn-square">Light Button</button>
        </div>
      </div>
      <div class="card" id="ex-small-btn">
        <div class="card-header">
          <h5>Extra Small buttons</h5>
          <span>Add <code>.btn-square</code> and <code>.btn-xs</code> class for extra small button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-primary btn-square">Primary Button</button>
          <button class="btn btn-secondary btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-secondary btn-square">Secondary Button</button>
          <button class="btn btn-success btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-success btn-square">Success Button</button>
          <button class="btn btn-info btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-info btn-square">Info Button</button>
          <button class="btn btn-warning btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-warning btn-square">Warning Button</button>
          <button class="btn btn-danger btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-danger btn-square">Danger Button</button>
          <button class="btn btn-light btn-xs btn-square" type="button" placement="top"
            ngbTooltip="btn btn-light btn-square">Light Button</button>
        </div>
      </div>
      <div class="card" id="active-btn">
        <div class="card-header">
          <h5>Active Buttons</h5>
          <span>Add <code>.active</code> for active state</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-square btn-primary active" type="button" placement="top"
            ngbTooltip="btn btn-square btn-primary">Active</button>
          <button class="btn btn-square btn-secondary active" type="button" placement="top"
            ngbTooltip="btn btn-square btn-secondary">Active</button>
          <button class="btn btn-square btn-success active" type="button" placement="top"
            ngbTooltip="btn btn-square btn-success">Active</button>
          <button class="btn btn-square btn-info active" type="button" placement="top"
            ngbTooltip="btn btn-square btn-info">Active</button>
          <button class="btn btn-square btn-warning active" type="button" placement="top"
            ngbTooltip="btn btn-square btn-warning">Active</button>
          <button class="btn btn-square btn-danger active" type="button" placement="top"
            ngbTooltip="btn btn-square btn-danger">Active</button>
          <button class="btn btn-square btn-light active txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-square btn-light">Active</button>
        </div>
      </div>
      <div class="card" id="disabled-btn">
        <div class="card-header">
          <h5>Disabled buttons</h5>
          <span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-square btn-primary disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-primary disabled">Disabled</button>
          <button class="btn btn-square btn-secondary disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-secondary disabled">Disabled</button>
          <button class="btn btn-square btn-success disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-success disabled">Disabled</button>
          <button class="btn btn-square btn-info disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-info disabled">Disabled</button>
          <button class="btn btn-square btn-warning disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-warning disabled">Disabled</button>
          <button class="btn btn-square btn-danger disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-danger disabled">Disabled</button>
          <button class="btn btn-square btn-light disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-light disabled">Disabled</button>
        </div>
      </div>
      <div class="card" id="custom-state-button">
        <div class="card-header">
          <h5>Custom state buttons</h5>
          <span>The <code>.btn</code> class used with <code>&lt;button&gt;</code>, <code>&lt;a&gt;</code> and
            <code>&lt;input&gt;</code> elements.</span>
        </div>
        <div class="card-body btn-showcase">
          <a class="btn btn-square btn-primary"  href="javascript:void(0)" data-toggle="tooltip" title="btn btn-primary" placement="top"
            ngbTooltip="btn btn-square btn-primary" role="button">Link</a>
          <input class="btn btn-square btn-secondary" type="button" value="Input" data-toggle="tooltip"
            title="btn btn-square btn-secondary" placement="top" ngbTooltip="btn btn-square btn-secondary">
          <input class="btn btn-square btn-success" type="submit" value="Submit" data-toggle="tooltip"
            title="btn btn-square btn-success" placement="top" ngbTooltip="btn btn-square btn-success">
          <button class="btn btn-square btn-info" type="submit" placement="top"
            ngbTooltip="btn btn-info">Button</button>
        </div>
      </div>
      <div class="card" id="outline-button">
        <div class="card-header">
          <h5>outline buttons</h5>
          <span>Add <code>.btn-square</code> and <code>.btn-outline-*</code> class for button with outline</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-square btn-outline-primary" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-primary" role="button">Primary Button</button>
          <button class="btn btn-square btn-outline-secondary" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-secondary">Secondary Button</button>
          <button class="btn btn-square btn-outline-success" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-success">Success Button</button>
          <button class="btn btn-square btn-outline-info" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-info">Info Button</button>
          <button class="btn btn-square btn-outline-warning" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-warning">Warning Button</button>
          <button class="btn btn-square btn-outline-danger" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-danger">Danger Button</button>
          <button class="btn btn-square btn-outline-light txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-light">Light Button</button>
        </div>
      </div>
      <div class="card" id="outline-bold-button">
        <div class="card-header">
          <h5>bold Border outline buttons</h5>
          <span>Add <code>.btn-square</code> and <code>.btn-outline-*-2x</code> class for button with bold
            outline</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-square btn-outline-primary-2x" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-primary-2x">Primary Button</button>
          <button class="btn btn-square btn-outline-secondary-2x" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-secondary-2x">Secondary Button</button>
          <button class="btn btn-square btn-outline-success-2x" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-success-2x">Success Button</button>
          <button class="btn btn-square btn-outline-info-2x" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-info-2x">Info Button</button>
          <button class="btn btn-square btn-outline-warning-2x" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-warning-2x">Warning Button</button>
          <button class="btn btn-square btn-outline-danger-2x" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-danger-2x">Danger Button</button>
          <button class="btn btn-square btn-outline-light-2x txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-light-2x">Light Button</button>
        </div>
      </div>
      <div class="card" id="outline-large-button">
        <div class="card-header">
          <h5>outline Large buttons</h5>
          <span>Add <code>.btn-square</code>,<code>.btn-outline-*</code> and <code>.btn-lg</code> class for large
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary btn-square btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary btn-square btn-lg">Primary Button</button>
          <button class="btn btn-outline-secondary btn-square btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary btn-square btn-lg">Secondary Button</button>
          <button class="btn btn-outline-success btn-square btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-success btn-square btn-lg">Success Button</button>
          <button class="btn btn-outline-info btn-square btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-info btn-square btn-lg">Info Button</button>
          <button class="btn btn-outline-warning btn-square btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning btn-square btn-lg">Warning Button</button>
          <button class="btn btn-outline-danger btn-square btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger btn-square btn-lg">Danger Button</button>
          <button class="btn btn-outline-light btn-square btn-lg txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light btn-square btn-lg">Light Button</button>
        </div>
      </div>
      <div class="card" id="outline-small-button">
        <div class="card-header">
          <h5>outline small buttons</h5>
          <span>Add <code>.btn-square</code>,<code>.btn-outline-*</code> and <code>.btn-sm</code> class for small
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary btn-square btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary btn-square btn-sm">Primary Button</button>
          <button class="btn btn-outline-secondary btn-square btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary btn-square btn-sm">Secondary Button</button>
          <button class="btn btn-outline-success btn-square btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-success btn-square btn-sm">Success Button</button>
          <button class="btn btn-outline-info btn-square btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-info btn-square btn-sm">Info Button</button>
          <button class="btn btn-outline-warning btn-square btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning btn-square btn-sm">Warning Button</button>
          <button class="btn btn-outline-danger btn-square btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger btn-square btn-sm">Danger Button</button>
          <button class="btn btn-outline-light btn-square btn-sm txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light btn-square btn-sm">Light Button</button>
        </div>
      </div>
      <div class="card" id="ex-outline-small-button">
        <div class="card-header">
          <h5>Outline extra small buttons</h5>
          <span>Add <code>.btn-square</code>,<code>.btn-outline-*</code> and <code>.btn-xs</code> class for extra
            small button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary btn-square btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary btn-square btn-xs">Primary Button</button>
          <button class="btn btn-outline-secondary btn-square btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary btn-square btn-xs">Secondary Button</button>
          <button class="btn btn-outline-success btn-square btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-success btn-square btn-xs">Success Button</button>
          <button class="btn btn-outline-info btn-square btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-info btn-square btn-xs">Info Button</button>
          <button class="btn btn-outline-warning btn-square btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning btn-square btn-xs">Warning Button</button>
          <button class="btn btn-outline-danger btn-square btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger btn-square btn-xs">Danger Button</button>
          <button class="btn btn-outline-light btn-square btn-xs txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light btn-square btn-xs">Light Button</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Disabled outline buttons</h5>
          <span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-square btn-outline-primary disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-primary disabled">Disabled</button>
          <button class="btn btn-square btn-outline-secondary disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-secondary disabled">Disabled</button>
          <button class="btn btn-square btn-outline-success disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-success disabled">Disabled</button>
          <button class="btn btn-square btn-outline-info disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-info disabled">Disabled</button>
          <button class="btn btn-square btn-outline-warning disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-warning disabled">Disabled</button>
          <button class="btn btn-square btn-outline-danger disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-danger disabled">Disabled</button>
          <button class="btn btn-square btn-outline-light disabled" type="button" placement="top"
            ngbTooltip="btn btn-square btn-outline-light disabled">Disabled</button>
        </div>
      </div>
      <div class="card" id="gradiant">
        <div class="card-header">
          <h5>Gradien buttons</h5>
          <span>Add <code>.btn-square</code> and <code>.btn-*-gradien</code> class for gradien button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary-gradien btn-square" type="button" placement="top"
            ngbTooltip="btn btn-primary-gradien btn-square">Primary Button</button>
          <button class="btn btn-secondary-gradien btn-square" type="button" placement="top"
            ngbTooltip="btn btn-secondary-gradien btn-square">Secondary Button</button>
          <button class="btn btn-success-gradien btn-square" type="button" placement="top"
            ngbTooltip="btn btn-success-gradien btn-square">Success Button</button>
          <button class="btn btn-info-gradien btn-square" type="button" placement="top"
            ngbTooltip="btn btn-info-gradien btn-square">Info Button</button>
          <button class="btn btn-warning-gradien btn-square" type="button" placement="top"
            ngbTooltip="btn btn-warning-gradien btn-square">Warning Button</button>
          <button class="btn btn-danger-gradien btn-square" type="button" placement="top"
            ngbTooltip="btn btn-danger-gradien btn-square">Danger Button</button>
        </div>
      </div>
    </div>
  </div>
</div>