<app-breadcrumb [title]="'Default'" [items]="['Buttons']" [active_item]="'Default'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card" id="default">
        <div class="card-header">
          <h5>Default buttons</h5>
          <span>Bootstrap state buttons</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary" type="button" placement="top" ngbTooltip="btn btn-primary">Primary
            Button</button>
          <button class="btn btn-secondary" type="button" placement="top" ngbTooltip="btn btn-secondary">Secondary
            Button</button>
          <button class="btn btn-success" type="button" placement="top" ngbTooltip="btn btn-success">Success
            Button</button>
          <button class="btn btn-info" type="button" placement="top" ngbTooltip="btn btn-info">Info Button</button>
          <button class="btn btn-warning" type="button" placement="top" ngbTooltip="btn btn-warning">Warning
            Button</button>
          <button class="btn btn-danger" type="button" placement="top" ngbTooltip="btn btn-danger">Danger
            Button</button>
          <button class="btn btn-light" type="button" placement="top" ngbTooltip="btn btn-light">Light Button</button>
        </div>
      </div>
      <div class="card" id="large-btn">
        <div class="card-header">
          <h5>Large buttons</h5>
          <span>Add <code>.btn-lg</code> class for large size buttons</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary btn-lg" type="button" placement="top" ngbTooltip="btn btn-primary">Primary
            Button</button>
          <button class="btn btn-secondary btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-secondary">Secondary Button</button>
          <button class="btn btn-success btn-lg" type="button" placement="top" ngbTooltip="btn btn-success">Success
            Button</button>
          <button class="btn btn-info btn-lg" type="button" placement="top" ngbTooltip="btn btn-info">Info
            Button</button>
          <button class="btn btn-warning btn-lg" type="button" placement="top" ngbTooltip="btn btn-warning">Warning
            Button</button>
          <button class="btn btn-danger btn-lg" type="button" placement="top" ngbTooltip="btn btn-danger">Danger
            Button</button>
          <button class="btn btn-light btn-lg" type="button" placement="top" ngbTooltip="btn btn-light">Light
            Button</button>

        </div>
      </div>
      <div class="card" id="small-btn">
        <div class="card-header">
          <h5>Small buttons</h5>
          <span>Add <code>.btn-sm</code> class for small size buttons</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary btn-sm" type="button" placement="top" ngbTooltip="btn btn-primary">Primary
            Button</button>
          <button class="btn btn-secondary btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-secondary">Secondary Button</button>
          <button class="btn btn-success btn-sm" type="button" placement="top" ngbTooltip="btn btn-success">Success
            Button</button>
          <button class="btn btn-info btn-sm" type="button" placement="top" ngbTooltip="btn btn-info">Info
            Button</button>
          <button class="btn btn-warning btn-sm" type="button" placement="top" ngbTooltip="btn btn-warning">Warning
            Button</button>
          <button class="btn btn-danger btn-sm" type="button" placement="top" ngbTooltip="btn btn-danger">Danger
            Button</button>
          <button class="btn btn-light btn-sm" type="button" placement="top" ngbTooltip="btn btn-light">Light
            Button</button>
        </div>
      </div>
      <div class="card" id="ex-small-btn">
        <div class="card-header">
          <h5>Extra Small buttons</h5>
          <span>Add <code>.btn-xs</code> class for extra small size buttons</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary btn-xs" type="button" placement="top" ngbTooltip="btn btn-primary">Primary
            Button</button>
          <button class="btn btn-secondary btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-secondary">Secondary Button</button>
          <button class="btn btn-success btn-xs" type="button" placement="top" ngbTooltip="btn btn-success">Success
            Button</button>
          <button class="btn btn-info btn-xs" type="button" placement="top" ngbTooltip="btn btn-info">Info
            Button</button>
          <button class="btn btn-warning btn-xs" type="button" placement="top" ngbTooltip="btn btn-warning">Warning
            Button</button>
          <button class="btn btn-danger btn-xs" type="button" placement="top" ngbTooltip="btn btn-danger">Danger
            Button</button>
          <button class="btn btn-light btn-xs" type="button" placement="top" ngbTooltip="btn btn-light">Light
            Button</button>
        </div>
      </div>
      <div class="card" id="active-btn">
        <div class="card-header">
          <h5>Active Buttons</h5>
          <span>Add <code>.active</code> class for active state</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary active" type="button" placement="top"
            ngbTooltip="btn btn-primary">Active</button>
          <button class="btn btn-secondary active" type="button" placement="top"
            ngbTooltip="btn btn-secondary">Active</button>
          <button class="btn btn-success active" type="button" placement="top"
            ngbTooltip="btn btn-success">Active</button>
          <button class="btn btn-info active" type="button" placement="top" ngbTooltip="btn btn-info">Active</button>
          <button class="btn btn-warning active" type="button" placement="top"
            ngbTooltip="btn btn-warning">Active</button>
          <button class="btn btn-danger active" type="button" placement="top"
            ngbTooltip="btn btn-danger">Active</button>
          <button class="btn btn-light active txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-light">Active</button>
        </div>
      </div>
      <div class="card" id="disabled-btn">
        <div class="card-header">
          <h5>Disabled buttons</h5>
          <span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary disabled" type="button" placement="top"
            ngbTooltip="btn btn-primary disabled">Disabled</button>
          <button class="btn btn-secondary disabled" type="button" placement="top"
            ngbTooltip="btn btn-secondary disabled">Disabled</button>
          <button class="btn btn-success disabled" type="button" placement="top"
            ngbTooltip="btn btn-success disabled">Disabled</button>
          <button class="btn btn-info disabled" type="button" placement="top"
            ngbTooltip="btn btn-info disabled">Disabled</button>
          <button class="btn btn-warning disabled" type="button" placement="top"
            ngbTooltip="btn btn-warning disabled">Disabled</button>
          <button class="btn btn-danger disabled" type="button" placement="top"
            ngbTooltip="btn btn-danger disabled">Disabled</button>
          <button class="btn btn-light disabled" type="button" placement="top"
            ngbTooltip="btn btn-light disabled">Disabled</button>
        </div>
      </div>
      <div class="card" id="custom-state-button">
        <div class="card-header">
          <h5>Custom state buttons</h5>
          <span>The <code>.btn</code> class used with <code>&lt;button&gt;</code>, <code>&lt;a&gt;</code> and
            <code>&lt;input&gt;</code> elements.</span>
        </div>
        <div class="card-body btn-showcase">
          <a class="btn btn-primary"  href="javascript:void(0)" data-toggle="tooltip" title="btn btn-primary" placement="top"
            ngbTooltip="btn btn-primary" role="button">Link</a>
          <input class="btn btn-secondary" type="button" value="Input" data-toggle="tooltip" title="btn btn-secondary"
            placement="top" ngbTooltip="btn btn-secondary">
          <input class="btn btn-success" type="submit" value="Submit" data-toggle="tooltip" title="btn btn-success"
            placement="top" ngbTooltip="btn btn-success">
          <button class="btn btn-info" type="submit" placement="top" ngbTooltip="btn btn-info">Button</button>
        </div>
      </div>
      <div class="card" id="outline-button">
        <div class="card-header">
          <h5>outline buttons</h5>
          <span>Add <code>.btn-outline-*</code> class for border button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary" type="button" placement="top" ngbTooltip="btn btn-outline-primary"
            role="button">Primary Button</button>
          <button class="btn btn-outline-secondary" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary">Secondary Button</button>
          <button class="btn btn-outline-success" type="button" placement="top"
            ngbTooltip="btn btn-outline-success">Success Button</button>
          <button class="btn btn-outline-info" type="button" placement="top" ngbTooltip="btn btn-outline-info">Info
            Button</button>
          <button class="btn btn-outline-warning" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning">Warning Button</button>
          <button class="btn btn-outline-danger" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger">Danger Button</button>
          <button class="btn btn-outline-light txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light">Light Button</button>
        </div>
      </div>
      <div class="card" id="outline-bold-button">
        <div class="card-header">
          <h5>bold Border outline buttons</h5>
          <span>Add <code>.btn-outline-*-2x</code> class for bold outline</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary-2x" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary-2x">Primary Button</button>
          <button class="btn btn-outline-secondary-2x" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary-2x">Secondary Button</button>
          <button class="btn btn-outline-success-2x" type="button" placement="top"
            ngbTooltip="btn btn-outline-success-2x">Success Button</button>
          <button class="btn btn-outline-info-2x" type="button" placement="top"
            ngbTooltip="btn btn-outline-info-2x">Info Button</button>
          <button class="btn btn-outline-warning-2x" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning-2x">Warning Button</button>
          <button class="btn btn-outline-danger-2x" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger-2x">Danger Button</button>
          <button class="btn btn-outline-light-2x txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light-2x">Light Button</button>
        </div>
      </div>
      <div class="card" id="outline-large-button">
        <div class="card-header">
          <h5>outline Large buttons</h5>
          <span>Add <code>.btn-outline-*</code> class for outline and <code>.btn-lg</code> class for large
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary btn-lg">Primary Button</button>
          <button class="btn btn-outline-secondary btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary btn-lg">Secondary Button</button>
          <button class="btn btn-outline-success btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-success btn-lg">Success Button</button>
          <button class="btn btn-outline-info btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-info btn-lg">Info Button</button>
          <button class="btn btn-outline-warning btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning btn-lg">Warning Button</button>
          <button class="btn btn-outline-danger btn-lg" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger btn-lg">Danger Button</button>
          <button class="btn btn-outline-light btn-lg txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light btn-lg">Light Button</button>
        </div>
      </div>
      <div class="card" id="outline-small-button">
        <div class="card-header">
          <h5>outline small buttons</h5>
          <span>Add <code>.btn-outline-*</code> class for outline and <code>.btn-sm</code> class for small
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary btn-sm">Primary Button</button>
          <button class="btn btn-outline-secondary btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary btn-sm">Secondary Button</button>
          <button class="btn btn-outline-success btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-success btn-sm">Success Button</button>
          <button class="btn btn-outline-info btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-info btn-sm">Info Button</button>
          <button class="btn btn-outline-warning btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning btn-sm">Warning Button</button>
          <button class="btn btn-outline-danger btn-sm" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger btn-sm">Danger Button</button>
          <button class="btn btn-outline-light btn-sm txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light btn-sm">Light Button</button>
        </div>
      </div>
      <div class="card" id="ex-outline-small-button">
        <div class="card-header">
          <h5>Outline extra small buttons</h5>
          <span>Add <code>.btn-outline-*</code> class for outline and <code>.btn-xs</code> class for extra small
            button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary btn-xs">Primary Button</button>
          <button class="btn btn-outline-secondary btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary btn-xs">Secondary Button</button>
          <button class="btn btn-outline-success btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-success btn-xs">Success Button</button>
          <button class="btn btn-outline-info btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-info btn-xs">Info Button</button>
          <button class="btn btn-outline-warning btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning btn-xs">Warning Button</button>
          <button class="btn btn-outline-danger btn-xs" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger btn-xs">Danger Button</button>
          <button class="btn btn-outline-light btn-xs txt-dark" type="button" placement="top"
            ngbTooltip="btn btn-outline-light btn-xs">Light Button</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Disabled outline buttons</h5>
          <span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
            state</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-outline-primary disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-primary disabled">Disabled</button>
          <button class="btn btn-outline-secondary disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-secondary disabled">Disabled</button>
          <button class="btn btn-outline-success disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-success disabled">Disabled</button>
          <button class="btn btn-outline-info disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-info disabled">Disabled</button>
          <button class="btn btn-outline-warning disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-warning disabled">Disabled</button>
          <button class="btn btn-outline-danger disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-danger disabled">Disabled</button>
          <button class="btn btn-outline-light disabled" type="button" placement="top"
            ngbTooltip="btn btn-outline-light disabled">Disabled</button>
        </div>
      </div>
      <div class="card" id="gradiant">
        <div class="card-header">
          <h5>Gradien buttons</h5>
          <span>Add <code>.btn-*-gradien</code> class for gradien button</span>
        </div>
        <div class="card-body btn-showcase">
          <button class="btn btn-primary-gradien" type="button" placement="top"
            ngbTooltip="btn btn-primary-gradien">Primary Button</button>
          <button class="btn btn-secondary-gradien" type="button" placement="top"
            ngbTooltip="btn btn-secondary-gradien">Secondary Button</button>
          <button class="btn btn-success-gradien" type="button" placement="top"
            ngbTooltip="btn btn-success-gradien">Success Button</button>
          <button class="btn btn-info-gradien" type="button" placement="top" ngbTooltip="btn btn-info-gradien">Info
            Button</button>
          <button class="btn btn-warning-gradien" type="button" placement="top"
            ngbTooltip="btn btn-warning-gradien">Warning Button</button>
          <button class="btn btn-danger-gradien" type="button" placement="top"
            ngbTooltip="btn btn-danger-gradien">Danger Button</button>
        </div>
      </div>
    </div>
  </div>
</div>