<app-breadcrumb [title]="'Ngx Chart'" [items]="['Chart']" [active_item]="'Ngx Chart'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-6 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Single Vertical Bar Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-bar-vertical [scheme]="barChartColorScheme" [results]="barChartsingle"
                                [gradient]="barChartGradient" [xAxis]="barChartShowXAxis" [yAxis]="barChartShowYAxis"
                                [legend]="barChartShowLegend" [showXAxisLabel]="barChartShowXAxisLabel"
                                [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel"
                                [yAxisLabel]="barChartYAxisLabel" [roundEdges]="false" (select)="onSelect($event)">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Multiple Vertical Bar Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-bar-vertical-2d [scheme]="barChartColorScheme" [results]="multiData"
                                [gradient]="barChartGradient" [xAxis]="barChartShowXAxis" [yAxis]="barChartShowYAxis"
                                [legend]="barChartShowLegend" [showXAxisLabel]="barChartShowXAxisLabel"
                                [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel"
                                [yAxisLabel]="barChartYAxisLabel" [roundEdges]="false" (select)="onSelect($event)">
                            </ngx-charts-bar-vertical-2d>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Single Pie Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-pie-chart [scheme]="pieChartColorScheme" [results]="pieChart"
                                [explodeSlices]="true" [labels]="pieChartShowLabels" [doughnut]="false" arcWidth=0.30
                                [gradient]="pieChartGradient" (select)="onSelect($event)">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Grid Pie Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container grid-pie-chart">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-pie-grid [scheme]="pieChartColorScheme" [results]="pieChart"
                                (select)="onSelect($event)">
                            </ngx-charts-pie-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Line Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-line-chart [scheme]="areaChartcolorScheme" [results]="multiData"
                                [gradient]="areaChartgradient" [xAxis]="areaChartshowXAxis" [yAxis]="areaChartshowYAxis"
                                [showXAxisLabel]="areaChartshowXAxisLabel" [showYAxisLabel]="areaChartshowYAxisLabel"
                                [xAxisLabel]="areaChartxAxisLabel" [curve]=lineChartcurve (select)="onSelect($event)">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Line Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-line-chart [scheme]="areaChartcolorScheme" [results]="multiData"
                                [gradient]="areaChartgradient" [xAxis]="areaChartshowXAxis" [yAxis]="areaChartshowYAxis"
                                [showXAxisLabel]="areaChartshowXAxisLabel" [showYAxisLabel]="areaChartshowYAxisLabel"
                                [xAxisLabel]="areaChartxAxisLabel" [curve]="lineChartcurve1"
                                (select)="onSelect($event)">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Area Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-area-chart [scheme]="areaChartcolorScheme" [results]="multiData"
                                [gradient]="areaChartgradient" [xAxis]="areaChartshowXAxis" [yAxis]="areaChartshowYAxis"
                                [showXAxisLabel]="areaChartshowXAxisLabel" [showYAxisLabel]="areaChartshowYAxisLabel"
                                [xAxisLabel]="areaChartxAxisLabel" (select)="onSelect($event)">
                            </ngx-charts-area-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Gauge Chart</h5>
                </div>
                <div class="card-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart-placeholder ngx-chart-direction" id="github-issues">
                            <ngx-charts-number-card [scheme]="barChartColorScheme" [results]="single">
                            </ngx-charts-number-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->