<app-breadcrumb [title]="'Sweet Alert 2'" [items]="['Bonus UI', 'Advance']" [active_item]="'Sweet Alert 2'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Basic</h5>
        </div>
        <div class="card-body btn-showcase">
          <button type="button" class="btn btn-primary" (click)="basicAlert()">Basic</button>
          <button type="button" class="btn btn-primary" (click)="withTitle()">With Title alert</button>
          <button type="button" class="btn btn-primary" (click)="withImage()">With Image alert</button>
          <button type="button" class="btn btn-primary" (click)="error()">Error</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Advanced</h5>
        </div>
        <div class="card-body btn-showcase">
          <button type="button" class="btn btn-primary" (click)="withConfirmation()">With
            Confirmation</button>
          <button type="button" class="btn btn-primary" (click)="withCancelled()">With Cancelled</button>
          <button type="button" class="btn btn-primary" (click)="autoClose()">Auto Close</button>
          <button type="button" class="btn btn-primary" (click)="withAjax()">With Ajax</button>
          <button type="button" class="btn btn-primary" (click)="stepsAlert()">Step Alert</button>
          <button type="button" class="btn btn-primary" (click)="dynamicQueue()">Dynamic Queue</button>
          <button type="button" class="btn btn-primary" (click)="rtlAlert()">RTL Alert</button>
          <button type="button" class="btn btn-primary" (click)="customTimer()">Custom Timer Alert</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Types</h5>
        </div>
        <div class="card-body btn-showcase">
          <button type="button" class="btn btn-primary" (click)="customAlert()">Custom Alert</button>
          <button type="button" class="btn btn-primary" (click)="customHTML()">Custom HTML</button>
          <button type="button" class="btn btn-primary" (click)="customAnimation()">Custom Animation</button>
          <button type="button" class="btn btn-primary" (click)="customPosition()">Custom Positioned</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>States</h5>
        </div>
        <div class="card-body btn-showcase">
          <button type="button" class="btn btn-warning" (click)="warning()">Warning</button>
          <button type="button" class="btn btn-success" (click)="success()">Success</button>
          <button type="button" class="btn btn-info" (click)="info()">Information</button>
          <button type="button" class="btn btn-danger" (click)="danger()">Danger</button>
        </div>
      </div>
    </div>
  </div>
</div>