<ng-template #addCategory let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel1">Add Category</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <form class="form-bookmark">
      <div class="form-row">
        <div class="form-group mb-3 col-md-12 my-0">
          <input class="form-control" type="text" required="" placeholder="Enter category name" autocomplete="off">
        </div>
      </div>
      <button class="btn btn-secondary mr-1" type="button">Save</button>
      <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
    </form>
  </div>
</ng-template>