<app-breadcrumb [title]="'Helper Classes'" [items]="['Ui Kits']" [active_item]="'Helper Classes'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Padding</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.p-0 &#123;
padding: 0px;
&#125;
.p-5 &#123;
padding: 5px;
&#125;
.p-10 &#123;
padding: 10px;
&#125;
.p-15 &#123;
padding: 15px;
&#125;
.p-20 &#123;
padding: 20px;
&#125;
.p-25 &#123;
padding: 25px;
&#125;
.p-30 &#123;
padding: 30px;
&#125;
.p-35 &#123;
padding: 35px;
&#125;
.p-40 &#123;
padding: 40px;
&#125;
.p-45 &#123;
padding: 45px;
&#125;
.p-50 &#123;
padding: 50px;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Margins</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.m-0 &#123;
margin: 0px !important;
&#125;
.m-5 &#123;
margin: 5px !important;
&#125;
.m-10 &#123;
margin: 10px !important;
&#125;
.m-15 &#123;
margin: 15px !important;
&#125;
.m-20 &#123;
margin: 20px !important;
&#125;
.m-25 &#123;
margin: 25px !important;
&#125;
.m-30 &#123;
margin: 30px !important;
&#125;
.m-35 &#123;
margin: 35px !important;
&#125;
.m-40 &#123;
margin: 40px !important;
&#125;
.m-45 &#123;
margin: 45px !important;
&#125;
.m-50 &#123;
margin: 50px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Padding Left</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.p-l-0 &#123;
padding-left: 0px;
&#125;
.p-l-5 &#123;
padding-left: 5px;
&#125;
.p-l-10 &#123;
padding-left: 10px;
&#125;
.p-l-15 &#123;
padding-left: 15px;
&#125;
.p-l-20 &#123;
padding-left: 20px;
&#125;
.p-l-25 &#123;
padding-left: 25px;
&#125;
.p-l-30 &#123;
padding-left: 30px;
&#125;
.p-l-35 &#123;
padding-left: 35px;
&#125;
.p-l-40 &#123;
padding-left: 40px;
&#125;
.p-l-45 &#123;
padding-left: 45px;
&#125;
.p-l-50 &#123;
padding-left: 50px;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Padding Right</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.p-r-0 &#123;
padding-right: 0px;
&#125;
.p-r-5 &#123;
padding-right: 5px;
&#125;
.p-r-10 &#123;
padding-right: 10px;
&#125;
.p-r-15 &#123;
padding-right: 15px;
&#125;
.p-r-20 &#123;
padding-right: 20px;
&#125;
.p-r-25 &#123;
padding-right: 25px;
&#125;
.p-r-30 &#123;
padding-right: 30px;
&#125;
.p-r-35 &#123;
padding-right: 35px;
&#125;
.p-r-40 &#123;
padding-right: 40px;
&#125;
.p-r-45 &#123;
padding-right: 45px;
&#125;
.p-r-50 &#123;
padding-right: 50px;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Padding Top</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.p-t-0 &#123;
padding-top: 0px !important;
&#125;
.p-t-5 &#123;
padding-top: 5px !important;
&#125;
.p-t-10 &#123;
padding-top: 10px !important;
&#125;
.p-t-15 &#123;
padding-top: 15px !important;
&#125;
.p-t-20 &#123;
padding-top: 20px !important;
&#125;
.p-t-25 &#123;
padding-top: 25px !important;
&#125;
.p-t-30 &#123;
padding-top: 30px !important;
&#125;
.p-t-35 &#123;
padding-top: 35px !important;
&#125;
.p-t-40 &#123;
padding-top: 40px !important;
&#125;
.p-t-45 &#123;
padding-top: 45px !important;
&#125;
.p-t-50 &#123;
padding-top: 50px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Padding Bottom</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.p-b-0 &#123;
padding-bottom: 0px !important;
&#125;
.p-b-5 &#123;
padding-bottom: 5px !important;
&#125;
.p-b-10 &#123;
padding-bottom: 10px !important;
&#125;
.p-b-15 &#123;
padding-bottom: 15px !important;
&#125;
.p-b-20 &#123;
padding-bottom: 20px !important;
&#125;
.p-b-25 &#123;
padding-bottom: 25px !important;
&#125;
.p-b-30 &#123;
padding-bottom: 30px !important;
&#125;
.p-b-35 &#123;
padding-bottom: 35px !important;
&#125;
.p-b-40 &#123;
padding-bottom: 40px !important;
&#125;
.p-b-45 &#123;
padding-bottom: 45px !important;
&#125;
.p-b-50 &#123;
padding-bottom: 50px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Margin Left</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.m-l-0 &#123;
margin-left: 0px !important;
&#125;
.m-l-5 &#123;
margin-left: 5px !important;
&#125;
.m-l-10 &#123;
margin-left: 10px !important;
&#125;
.m-l-15 &#123;
margin-left: 15px !important;
&#125;
.m-l-20 &#123;
margin-left: 20px !important;
&#125;
.m-l-25 &#123;
margin-left: 25px !important;
&#125;
.m-l-30 &#123;
margin-left: 30px !important;
&#125;
.m-l-35 &#123;
margin-left: 35px !important;
&#125;
.m-l-40 &#123;
margin-left: 40px !important;
&#125;
.m-l-45 &#123;
margin-left: 45px !important;
&#125;
.m-l-50 &#123;
margin-left: 50px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Margin Right</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.m-r-0 &#123;
margin-right: 0px;
&#125;
.m-r-5 &#123;
margin-right: 5px;
&#125;
.m-r-10 &#123;
margin-right: 10px;
&#125;
.m-r-15 &#123;
margin-right: 15px;
&#125;
.m-r-20 &#123;
margin-right: 20px;
&#125;
.m-r-25 &#123;
margin-right: 25px;
&#125;
.m-r-30 &#123;
margin-right: 30px;
&#125;
.m-r-35 &#123;
margin-right: 35px;
&#125;
.m-r-40 &#123;
margin-right: 40px;
&#125;
.m-r-45 &#123;
margin-right: 45px;
&#125;
.m-r-50 &#123;
margin-right: 50px;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Margin Top</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.m-t-0 &#123;
margin-top: 0px !important;
&#125;
.m-t-5 &#123;
margin-top: 5px !important;
&#125;
.m-t-10 &#123;
margin-top: 10px !important;
&#125;
.m-t-15 &#123;
margin-top: 15px !important;
&#125;
.m-t-20 &#123;
margin-top: 20px !important;
&#125;
.m-t-25 &#123;
margin-top: 25px !important;
&#125;
.m-t-30 &#123;
margin-top: 30px !important;
&#125;
.m-t-35 &#123;
margin-top: 35px !important;
&#125;
.m-t-40 &#123;
margin-top: 40px !important;
&#125;
.m-t-45 &#123;
margin-top: 45px !important;
&#125;
.m-t-50 &#123;
margin-top: 50px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Margin Bottom</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.m-b-0 &#123;
margin-bottom: 0px !important;
&#125;
.m-b-5 &#123;
margin-bottom: 5px !important;
&#125;
.m-b-10 &#123;
margin-bottom: 10px !important;
&#125;
.m-b-15 &#123;
margin-bottom: 15px !important;
&#125;
.m-b-20 &#123;
margin-bottom: 20px !important;
&#125;
.m-b-25 &#123;
margin-bottom: 25px !important;
&#125;
.m-b-30 &#123;
margin-bottom: 30px !important;
&#125;
.m-b-35 &#123;
margin-bottom: 35px !important;
&#125;
.m-b-40 &#123;
margin-bottom: 40px !important;
&#125;
.m-b-45 &#123;
margin-bottom: 45px !important;
&#125;
.m-b-50 &#123;
margin-bottom: 50px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Vertical Align</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.baseline &#123;
vertical-align: baseline;
&#125;
.sub &#123;
vertical-align: sub;
&#125;
.super &#123;
vertical-align: super;
&#125;
.top &#123;
vertical-align: top;
&#125;
.text-top &#123;
vertical-align: text-top;
&#125;
.middle &#123;
vertical-align: middle;
&#125;
.bottom &#123;
vertical-align: bottom;
&#125;
.text-bottom &#123;
vertical-align: text-bottom;
&#125;
.initial &#123;
vertical-align: initial;
&#125;
.inherit &#123;
vertical-align: inherit;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Image Sizes</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.img-10 &#123;
width: 10px !important;
&#125;
.img-20 &#123;
width: 20px !important;
&#125;
.img-30 &#123;
width: 30px !important;
&#125;
.img-40 &#123;
width: 40px !important;
&#125;
.img-50 &#123;
width: 50px !important;
&#125;
.img-60 &#123;
width: 60px !important;
&#125;
.img-70 &#123;
width: 70px !important;
&#125;
.img-80 &#123;
width: 80px !important;
&#125;
.img-90 &#123;
width: 90px !important;
&#125;
.img-100 &#123;
width: 100px !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Text Color</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.font-primary &#123;
color: #7366ff !important;
&#125;
.font-secondary &#123;
color: #f73164 !important;
&#125;
.font-success &#123;
color: #51bb25 !important;
&#125;
.font-danger &#123;
color: #dc3545 !important;
&#125;
.font-info &#123;
color: #a927f9 !important;
&#125;
.font-light &#123;
color: #f4f4f4 !important;
&#125;
.font-dark &#123;
color: #2c323f !important;
&#125;
.font-warning &#123;
color: #f8d62b !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Badge Color</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.badge-primary &#123;
background-color: #7366ff;
&#125;
.badge-secondary &#123;
background-color: #f73164;
&#125;
.badge-success &#123;
background-color: #51bb25;
&#125;
.badge-danger &#123;
background-color: #dc3545;
&#125;
.badge-info &#123;
background-color: #a927f9;
&#125;
.badge-light &#123;
background-color: #f4f4f4;
&#125;
.badge-dark &#123;
background-color: #2c323f;
&#125;
.badge-warning &#123;
background-color: #f8d62b;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Background Color</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.bg-primary &#123;
background-color: #7366ff !important;
color: #fff;
&#125;
.bg-secondary &#123;
background-color: #f73164 !important;
color: #fff;
&#125;
.bg-success &#123;
background-color: #51bb25 !important;
color: #fff;
&#125;
.bg-danger &#123;
background-color: #dc3545 !important;
color: #fff;
&#125;
.bg-info &#123;
background-color: #a927f9 !important;
color: #fff;
&#125;
.bg-light &#123;
background-color: #f4f4f4 !important;
color: #fff;
&#125;
.bg-dark &#123;
background-color: #2c323f !important;
color: #fff;
&#125;
.bg-warning &#123;
background-color: #f8d62b !important;
color: #fff;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Button Color</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.btn-primary &#123;
background-color: #7366ff;
border-color: #7366ff;
&#125;
.btn-secondary &#123;
background-color: #f73164;
border-color: #f73164;
&#125;
.bg-success &#123;
background-color: #51bb25 !important;
color: #fff;
&#125;
.btn-success &#123;
background-color: #51bb25;
border-color: #51bb25;
&#125;
.btn-danger &#123;
background-color: #dc3545;
border-color: #dc3545;
&#125;
.btn-info &#123;
background-color: #a927f9;
border-color: #a927f9;
&#125;
.btn-light &#123;
background-color: #f4f4f4;
border-color: #f4f4f4;
&#125;
.btn-warning &#123;
background-color: #f8d62b;
border-color: #f8d62b;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Border Radius</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.b-r-0 &#123;
border-radius: 0px !important;
&#125;
.b-r-1 &#123;
border-radius: 1px !important;
&#125;
.b-r-2 &#123;
border-radius: 2px !important;
&#125;
.b-r-3 &#123;
border-radius: 3px !important;
&#125;
.b-r-4 &#123;
border-radius: 4px !important;
&#125;
.b-r-5 &#123;
border-radius: 5px !important;
&#125;
.b-r-6 &#123;
border-radius: 6px !important;
&#125;
.b-r-7 &#123;
border-radius: 7px !important;
&#125;
.b-r-8 &#123;
border-radius: 8px !important;
&#125;
.b-r-9 &#123;
border-radius: 9px !important;
&#125;
.b-r-10 &#123;
border-radius: 10px !important;
&#125;
                </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Font Weight</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.f-w-100 &#123;
font-weight: 100;
&#125;
.f-w-300 &#123;
font-weight: 300;
&#125;
.f-w-400 &#123;
font-weight: 400;
&#125;
.f-w-600 &#123;
font-weight: 600;
&#125;
.f-w-700 &#123;
font-weight: 700;
&#125;
.f-w-900 &#123;
font-weight: 900;
&#125;
                </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Font Style</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.f-s-normal &#123;
font-style: normal;
&#125;
.f-s-italic &#123;
font-style: italic;
&#125;
.f-s-oblique &#123;
font-style: oblique;
&#125;
.f-s-initial &#123;
font-style: initial;
&#125;
.f-s-inherit &#123;
font-style: inherit;
&#125;
                </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Float</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.f-left &#123;
float: left;
&#125;
.f-right &#123;
float: right;
&#125;
.f-none &#123;
float: none;
&#125;
                </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Overflow</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.o-hidden &#123;
overflow: hidden;
&#125;
.o-visible &#123;
overflow: visible;
&#125;
.o-auto &#123;
overflow: auto;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Font Size</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.f-12 &#123;
font-size: 12px;
&#125;
.f-14 &#123;
font-size: 14px;
&#125;
.f-16 &#123;
font-size: 16px;
&#125;
.f-18 &#123;
font-size: 18px;
&#125;
.f-20 &#123;
font-size: 20px;
&#125;
.f-22 &#123;
font-size: 22px;
&#125;
.f-24 &#123;
font-size: 24px;
&#125;
.f-26 &#123;
font-size: 26px;
&#125;
.f-28 &#123;
font-size: 28px;
&#125;
.f-30 &#123;
font-size: 30px;
&#125;
.f-32 &#123;
font-size: 32px;
&#125;
.f-34 &#123;
font-size: 34px;
&#125;
.f-36 &#123;
font-size: 36px;
&#125;
.f-38 &#123;
font-size: 38px;
&#125;
.f-40 &#123;
font-size: 40px;
&#125;
.f-42 &#123;
font-size: 42px;
&#125;
.f-44 &#123;
font-size: 44px;
&#125;
.f-46 &#123;
font-size: 46px;
&#125;
.f-48 &#123;
font-size: 48px;
&#125;
.f-50 &#123;
font-size: 50px;
&#125;
.f-52 &#123;
font-size: 52px;
&#125;
.f-54 &#123;
font-size: 54px;
&#125;
.f-56 &#123;
font-size: 56px;
&#125;
.f-58 &#123;
font-size: 58px;
&#125;
.f-60 &#123;
font-size: 60px;
&#125;
.f-62 &#123;
font-size: 62px;
&#125;
.f-64 &#123;
font-size: 64px;
&#125;
.f-66 &#123;
font-size: 66px;
&#125;
.f-68 &#123;
font-size: 68px;
&#125;
.f-70 &#123;
font-size: 70px;
&#125;
.f-72 &#123;
font-size: 72px;
&#125;
.f-74 &#123;
font-size: 74px;
&#125;
.f-76 &#123;
font-size: 76px;
&#125;
.f-78 &#123;
font-size: 78px;
&#125;
.f-80 &#123;
font-size: 80px;
&#125;
.f-82 &#123;
font-size: 82px;
&#125;
.f-84 &#123;
font-size: 84px;
&#125;
.f-86 &#123;
font-size: 86px;
&#125;
.f-88 &#123;
font-size: 88px;
&#125;
.f-90 &#123;
font-size: 90px;
&#125;
.f-92 &#123;
font-size: 92px;
&#125;
.f-94 &#123;
font-size: 94px;
&#125;
.f-96 &#123;
font-size: 96px;
&#125;
.f-98 &#123;
font-size: 98px;
&#125;
.f-100 &#123;
font-size: 100px;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>All Borders Color</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.b-primary &#123;
border: 1px solid #7366ff !important;
&#125;
.b-t-primary &#123;
border-top: 1px solid #7366ff !important;
&#125;
.b-b-primary &#123;
border-bottom: 1px solid #7366ff !important;
&#125;
.b-l-primary &#123;
border-left: 1px solid #7366ff !important;
&#125;
.b-r-primary &#123;
border-right: 1px solid #7366ff !important;
&#125;
.b-secondary &#123;
border: 1px solid #f73164 !important;
&#125;
.b-t-secondary &#123;
border-top: 1px solid #f73164 !important;
&#125;
.b-b-secondary &#123;
border-bottom: 1px solid #f73164 !important;
&#125;
.b-l-secondary &#123;
border-left: 1px solid #f73164 !important;
&#125;
.b-r-secondary &#123;
border-right: 1px solid #f73164 !important;
&#125;
.b-success &#123;
border: 1px solid #51bb25 !important;
&#125;
.b-t-success &#123;
border-top: 1px solid #51bb25 !important;
&#125;
.b-b-success &#123;
border-bottom: 1px solid #51bb25 !important;
&#125;
.b-l-success &#123;
border-left: 1px solid #51bb25 !important;
&#125;
.b-r-success &#123;
border-right: 1px solid #51bb25 !important;
&#125;
.b-danger &#123;
border: 1px solid #dc3545 !important;
&#125;
.b-t-danger &#123;
border-top: 1px solid #dc3545 !important;
&#125;
.b-b-danger &#123;
border-bottom: 1px solid #dc3545 !important;
&#125;
.b-l-danger &#123;
border-left: 1px solid #dc3545 !important;
&#125;
.b-r-danger &#123;
border-right: 1px solid #dc3545 !important;
&#125;
.b-info &#123;
border: 1px solid #a927f9 !important;
&#125;
.b-t-info &#123;
border-top: 1px solid #a927f9 !important;
&#125;
.b-b-info &#123;
border-bottom: 1px solid #a927f9 !important;
&#125;
.b-l-info &#123;
border-left: 1px solid #a927f9 !important;
&#125;
.b-r-info &#123;
border-right: 1px solid #a927f9 !important;
&#125;
.b-light &#123;
border: 1px solid #f4f4f4 !important;
&#125;
.b-t-light &#123;
border-top: 1px solid #f4f4f4 !important;
&#125;
.b-b-light &#123;
border-bottom: 1px solid #f4f4f4 !important;
&#125;
.b-l-light &#123;
border-left: 1px solid #f4f4f4 !important;
&#125;
.b-r-light &#123;
border-right: 1px solid #f4f4f4 !important;
&#125;
.b-dark &#123;
border: 1px solid #2c323f !important;
&#125;
.b-t-dark &#123;
border-top: 1px solid #2c323f !important;
&#125;
.b-b-dark &#123;
border-bottom: 1px solid #2c323f !important;
&#125;
.b-l-dark &#123;
border-left: 1px solid #2c323f !important;
&#125;
.b-r-dark &#123;
border-right: 1px solid #2c323f !important;
&#125;
.b-warning &#123;
border: 1px solid #f8d62b !important;
&#125;
.b-t-warning &#123;
border-top: 1px solid #f8d62b !important;
&#125;
.b-b-warning &#123;
border-bottom: 1px solid #f8d62b !important;
&#125;
.b-l-warning &#123;
border-left: 1px solid #f8d62b !important;
&#125;
.b-r-warning &#123;
border-right: 1px solid #f8d62b !important;
&#125;
                </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Border Width</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.border-1 &#123;
border-width: 1px !important;
&#125;
.border-2 &#123;
border-width: 2px !important;
&#125;
.border-3 &#123;
border-width: 3px !important;
&#125;
.border-4 &#123;
border-width: 4px !important;
&#125;
.border-5 &#123;
border-width: 5px !important;
&#125;
.border-6 &#123;
border-width: 6px !important;
&#125;
.border-7 &#123;
border-width: 7px !important;
&#125;
.border-8 &#123;
border-width: 8px !important;
&#125;
.border-9 &#123;
border-width: 9px !important;
&#125;
.border-10 &#123;
border-width: 10px !important;
&#125;
                </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Position</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.p-static &#123;
position: static;
&#125;
.p-absolute &#123;
position: absolute;
&#125;
.p-fixed &#123;
position: fixed;
&#125;
.p-relative &#123;
position: relative;
&#125;
.p-initial &#123;
position: initial;
&#125;
.p-inherit &#123;
position: inherit;
&#125;
                </pre>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Button Outline</h5>
                </div>
                <div class="card-body">
                    <pre class="helper-classes">
.btn-outline-primary &#123;
border-color: #7366ff;
color: #7366ff;
background-color: transparent;
&#125;
.btn-outline-secondary &#123;
border-color: #f73164;
color: #f73164;
background-color: transparent;
&#125;
.btn-outline-success &#123;
border-color: #51bb25;
color: #51bb25;
background-color: transparent;
&#125;
.btn-outline-danger &#123;
border-color: #dc3545;
color: #dc3545;
background-color: transparent;
&#125;
.btn-outline-info &#123;
border-color: #a927f9;
color: #a927f9;
background-color: transparent;
&#125;
.btn-outline-light &#123;
border-color: #f4f4f4;
color: #f4f4f4;
background-color: transparent;
&#125;
.btn-outline-dark &#123;
border-color: #2c323f;
color: #2c323f;
background-color: transparent;
&#125;
.btn-outline-warning &#123;
border-color: #f8d62b;
color: #f8d62b;
background-color: transparent;
&#125;
          </pre>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->