<app-breadcrumb [title]="'Gallery Effect'" [items]="['Apps', 'Gallery']" [active_item]="'Gallery Effect'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">1</span></h5>
        </div>
        <div class="card-body">
          <div class="row my-gallery gallery" id="aniimated-thumbnials" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-1" *ngFor="let img of imagesRect">
              <div class="img-hover hover-1">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
          <ks-modal-gallery [id]="2" [modalImages]="imagesRect" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
            [currentImageConfig]="{downloadable: true}" [buttonsConfig]="buttonsConfigCustom"
            (buttonBeforeHook)="onButtonBeforeHook($event)" (buttonAfterHook)="onButtonAfterHook($event)">
          </ks-modal-gallery>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">2</span></h5>
        </div>
        <div class="card-body">
          <div class="row my-gallery gallery" id="aniimated-thumbnials1" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-2" *ngFor="let img of imagesRect">
              <div class="img-hover hover-2">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">3</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials2" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-3" *ngFor="let img of imagesRect">
              <div class="img-hover hover-3">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">4</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials3" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-4" *ngFor="let img of imagesRect">
              <div class="img-hover hover-4">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">5</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials4" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-5" *ngFor="let img of imagesRect">
              <div class="img-hover hover-5">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">6</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials5" itemscope="">
            <figure class="col-sm-3 col-6 img-hover hover-6" *ngFor="let img of imagesRect">
              <div>
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">7</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials6" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-7" *ngFor="let img of imagesRect">
              <div class="img-hover hover-7">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">8</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials7" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-8" *ngFor="let img of imagesRect">
              <div class="img-hover hover-8">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">9</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials8" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-9" *ngFor="let img of imagesRect">
              <div class="img-hover hover-9">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">10</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials9" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-10" *ngFor="let img of imagesRect">
              <div class="img-hover hover-10">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">11</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials10" itemscope="">
            <figure class="col-sm-3 col-6 img-hover hover-11" *ngFor="let img of imagesRect">
              <div>
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">12</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials11" itemscope="">
            <figure class="col-md-3 col-6 img-hover" *ngFor="let img of imagesRect">
              <div class="img-hover hover-12">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">13</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials12" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-13" *ngFor="let img of imagesRect">
              <div class="img-hover hover-13">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">14</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials13" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-14" *ngFor="let img of imagesRect">
              <div class="img-hover hover-14">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Hover Effect <span class="digits">15</span></h5>
        </div>
        <div class="card-body">
          <div class="row gallery my-gallery" id="aniimated-thumbnials14" itemscope="">
            <figure class="col-md-3 col-6 img-hover hover-15" *ngFor="let img of imagesRect">
              <div class="img-hover hover-15">
                <img [src]="img.modal.img" (click)="openImageModalRowDescription(img)" class="img-fluid" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>