<div class="container-fluid">


    <h2 *ngIf="data == null" class="text-center">
        إنشاء نوع لباس جديد
    </h2>
    <h2 *ngIf="data.name" class="text-center">
        تحديث نوع اللباس {{data.name}}
    </h2>

    <div class="card-body">
        <form [formGroup]="createTypeForm">


            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    اسم نوع اللباس
                </mat-label>
                <input formControlName="name" matInput placeholder="Ex.
                    Dry cleaning"
                    #input>
            </mat-form-field>
            <div *ngIf="data && data.image" class="d-flex justify-content-center my-2">
                <img class="img-thumbnail text-center " 
                    height="200px" width="200px" [src]="server +
                    data?.image?.public_url">
            </div>

            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>
                    انقر هنا لتحميل الصورة
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview
                    ngProjectAs="ngx-dropzone-preview" *ngFor="let f of
                    files" [file]="f">

                </ngx-dropzone-image-preview>
            </ngx-dropzone>

            <div class="mt-3">
                <button *ngIf="data.name == null && createTypeForm.valid && files.length > 0" (click)="createType()" mat-raised-button
                    color="primary"
                    type="button"><i class="fa fa-plus"></i> أضف نوع اللباس</button>
                <button *ngIf="data && data.image"  (click)="updateType()" mat-raised-button
                    color="primary"
                    type="button"><i class="fa fa-edit"></i>  تحديث نوع اللباس</button>
            </div>
        </form>
    </div>

</div>