<app-breadcrumb [title]="'Tabbed'" [items]="['Card']" [active_item]="'Tabbed'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Simple Tab</h5>
				</div>
				<div class="card-body">
					<ngb-tabset type="pills" class="tabbed-card">
						<ngb-tab title="Home" class="pull-right nav nav-pills nav-primary">
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum is simply dummy text of the printing and typesetting industry. text ever
										since the 1500s, when an unknown printer took a galley of type and scrambled it
										to make a type specimen book. It has survived not only five centuries, but also
										the leap into electronic typesetting, remaining essentially unchanged. It was
										popularised in the 1960s with the release of Letraset sheets containing Lorem
										Ipsum passages, and more recently with desktop publishing software like Aldus
										PageMaker including versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary">Profile</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
										text of the printing and typesetting industry. since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type specimen book. It
										has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Contact" ngbTabTitle class="pull-right nav nav-pills nav-primary">
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum has been the industry's standard dummy text ever since the 1500s, when an
										unknown printer took a galley of type and scrambled it to make a type specimen
										book. It has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Tab With Icon</h5>
				</div>
				<div class="card-body">
					<ngb-tabset type="pills" class="tabbed-card">
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary"><i
									class="icofont icofont-ui-home"></i>Home</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum is simply dummy text of the printing and typesetting industry. text ever
										since the 1500s, when an unknown printer took a galley of type and scrambled it
										to make a type specimen book. It has survived not only five centuries, but also
										the leap into electronic typesetting, remaining essentially unchanged. It was
										popularised in the 1960s with the release of Letraset sheets containing Lorem
										Ipsum passages, and more recently with desktop publishing software like Aldus
										PageMaker including versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary"><i
									class="icofont icofont-man-in-glasses"></i>Profile</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
										text of the printing and typesetting industry. since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type specimen book. It
										has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary"><i
									class="icofont icofont-contacts"></i>Contact</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum has been the industry's standard dummy text ever since the 1500s, when an
										unknown printer took a galley of type and scrambled it to make a type specimen
										book. It has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>

					</ngb-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Color Tab</h5>
				</div>
				<div class="card-body">
					<ngb-tabset type="pills" class="tabbed-card">
						<ngb-tab title="Home" class="pull-right nav nav-pills nav-primary">
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum is simply dummy text of the printing and typesetting industry. text ever
										since the 1500s, when an unknown printer took a galley of type and scrambled it
										to make a type specimen book. It has survived not only five centuries, but also
										the leap into electronic typesetting, remaining essentially unchanged. It was
										popularised in the 1960s with the release of Letraset sheets containing Lorem
										Ipsum passages, and more recently with desktop publishing software like Aldus
										PageMaker including versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary">Profile</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
										text of the printing and typesetting industry. since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type specimen book. It
										has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Contact" ngbTabTitle class="pull-right nav nav-pills nav-primary">
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum has been the industry's standard dummy text ever since the 1500s, when an
										unknown printer took a galley of type and scrambled it to make a type specimen
										book. It has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>

			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Color Option</h5>
				</div>
				<div class="card-body">
					<ngb-tabset type="pills" class="tabbed-card nav-secondary">
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills"><i
									class="icofont icofont-ui-home"></i>Home</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum is simply dummy text of the printing and typesetting industry. text ever
										since the 1500s, when an unknown printer took a galley of type and scrambled it
										to make a type specimen book. It has survived not only five centuries, but also
										the leap into electronic typesetting, remaining essentially unchanged. It was
										popularised in the 1960s with the release of Letraset sheets containing Lorem
										Ipsum passages, and more recently with desktop publishing software like Aldus
										PageMaker including versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-secondary"><i
									class="icofont icofont-man-in-glasses"></i>Profile</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
										text of the printing and typesetting industry. since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type specimen book. It
										has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle class="pull-right nav nav-pills nav-secondary"><i
									class="icofont icofont-contacts"></i>Contact</ng-template>
							<ng-template ngbTabContent class="tab-content">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum has been the industry's standard dummy text ever since the 1500s, when an
										unknown printer took a galley of type and scrambled it to make a type specimen
										book. It has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab</h5>
				</div>
				<div class="card-body">
					<ngb-tabset #t="ngbTabset">
						<ngb-tab id="tab-selectbyid1" title="Home">
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever since
									the 1500s, when an unknown printer took a galley of type and scrambled it to make a
									type specimen book. It has survived not only five centuries, but also the leap into
									electronic typesetting, remaining essentially unchanged. It was popularised in the
									1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including versions of
									Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid2">
							<ng-template ngbTabTitle>Profile</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has
									survived not only five centuries, but also the leap into electronic typesetting,
									remaining essentially unchanged. It was popularised in the 1960s with the release of
									Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
									publishing software like Aldus PageMaker including versions of Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid3">
							<ng-template ngbTabTitle>Contact</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
									It has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum
								</p>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab with icon</h5>
				</div>
				<div class="card-body">
					<ngb-tabset #t="ngbTabset">
						<ngb-tab id="tab-selectbyid1">
							<ng-template ngbTabTitle class="nav-material"><i class="icofont icofont-ui-home"></i>Home
							</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever since
									the 1500s, when an unknown printer took a galley of type and scrambled it to make a
									type specimen book. It has survived not only five centuries, but also the leap into
									electronic typesetting, remaining essentially unchanged. It was popularised in the
									1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including versions of
									Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid2">
							<ng-template ngbTabTitle class="nav-material"><i
									class="icofont icofont-man-in-glasses"></i>Profile</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has
									survived not only five centuries, but also the leap into electronic typesetting,
									remaining essentially unchanged. It was popularised in the 1960s with the release of
									Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
									publishing software like Aldus PageMaker including versions of Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid3">
							<ng-template ngbTabTitle class="nav-material"><i
									class="icofont icofont-contacts"></i>Contact</ng-template>
							<ng-template ngbTabTitle>Contact</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
									It has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum
								</p>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab with color</h5>
				</div>
				<div class="card-body">
					<ngb-tabset #t="ngbTabset" class="nav-secondary">
						<ngb-tab id="tab-selectbyid1">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-ui-home"></i>Home
							</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever since
									the 1500s, when an unknown printer took a galley of type and scrambled it to make a
									type specimen book. It has survived not only five centuries, but also the leap into
									electronic typesetting, remaining essentially unchanged. It was popularised in the
									1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including versions of
									Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid2">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-man-in-glasses"></i>Profile
							</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has
									survived not only five centuries, but also the leap into electronic typesetting,
									remaining essentially unchanged. It was popularised in the 1960s with the release of
									Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
									publishing software like Aldus PageMaker including versions of Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid3">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-contacts"></i>Contact
							</ng-template>
							<ng-template ngbTabTitle>Contact</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
									It has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum
								</p>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab with color</h5>
				</div>
				<div class="card-body">
					<ngb-tabset #t="ngbTabset" class="nav-success">
						<ngb-tab id="tab-selectbyid1">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-ui-home"></i>Home
							</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever since
									the 1500s, when an unknown printer took a galley of type and scrambled it to make a
									type specimen book. It has survived not only five centuries, but also the leap into
									electronic typesetting, remaining essentially unchanged. It was popularised in the
									1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including versions of
									Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid2">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-man-in-glasses"></i>Profile
							</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has
									survived not only five centuries, but also the leap into electronic typesetting,
									remaining essentially unchanged. It was popularised in the 1960s with the release of
									Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
									publishing software like Aldus PageMaker including versions of Lorem Ipsum
								</p>
							</ng-template>
						</ngb-tab>
						<ngb-tab id="tab-selectbyid3">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-contacts"></i>Contact
							</ng-template>
							<ng-template ngbTabTitle>Contact</ng-template>
							<ng-template ngbTabContent>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
									It has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with
									the release of Letraset sheets containing Lorem Ipsum passages, and more recently
									with desktop publishing software like Aldus PageMaker including versions of Lorem
									Ipsum
								</p>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container-fluid Ends -->